<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>
	<!-- Miscellaneous Keys -->
	<BF_ModTitle>Android Tiers Reforged</BF_ModTitle>

	<BF_RestartRequired>Restart Required.</BF_RestartRequired>
	<BF_RestartRequiredSectionDesc>Any changes to settings in this section require restarting the game.</BF_RestartRequiredSectionDesc>
	<BF_RestartRequiredPostDesc>Some changed settings require restarting the game for safety.</BF_RestartRequiredPostDesc>

    <BF_ExpandMenu>Expand/Collapse</BF_ExpandMenu>

	<!-- Mod Settings Page Keys -->
	<BF_SettingsTabTitle>Configurations</BF_SettingsTabTitle>

	<BF_SettingsTabOption_Folded>&lt;</BF_SettingsTabOption_Folded>
	<BF_SettingsTabOption_General>General</BF_SettingsTabOption_General>
	<BF_SettingsTabOption_Power>Power</BF_SettingsTabOption_Power>
	<BF_SettingsTabOption_Security>Security</BF_SettingsTabOption_Security>
	<BF_SettingsTabOption_Health>Health</BF_SettingsTabOption_Health>
	<BF_SettingsTabOption_Connectivity>Connectivity</BF_SettingsTabOption_Connectivity>
	<BF_SettingsTabOption_Stats>Stats</BF_SettingsTabOption_Stats>

	<!-- General Settings -->
	<BF_ApplyPreset>Apply Preset</BF_ApplyPreset>

		<!-- Gender Settings -->
	<BF_AndroidGenderNotice>Changes only affect NEW androids</BF_AndroidGenderNotice>
	<BF_AndroidsHaveGenders>Androids have genders</BF_AndroidsHaveGenders>
	<BF_AndroidsPickGenders>Androids pick gender upon creation</BF_AndroidsPickGenders>
	<BF_AndroidsFixedGenderSelector>All androids are male (false) or female (true)</BF_AndroidsFixedGenderSelector>
	<BF_AndroidsGenderRatio>Chance for android to pick male gender vs female gender</BF_AndroidsGenderRatio>

		<!-- Commonality Settings -->
	<BF_PlayerOnlyNote>If disabled, androids will only exist when built by the player</BF_PlayerOnlyNote>
	<BF_AndroidsAppearNaturally>Androids can appear as parts of factions or events</BF_AndroidsAppearNaturally>

	<BF_AndroidFactionSettings>What role do android factions play? Only affects NEW games</BF_AndroidFactionSettings>
	<BF_AndroidSocietiesExist>Androids have their own factions</BF_AndroidSocietiesExist>
	<BF_AndroidRaidersExist>Androids have formed their own pirate collective</BF_AndroidRaidersExist>
	<BF_AndroidRaidersDesc>Acts like vanilla's Pirate faction</BF_AndroidRaidersDesc>
	<BF_AndroidUnionistsExist>Androids dedicated to collective survival have unified</BF_AndroidUnionistsExist>
	<BF_AndroidUnionistsDesc>Acts like vanilla's Outlander faction</BF_AndroidUnionistsDesc>

        <!-- Permission Settings-->
    <BF_bedRestrictionDefaultsToAll>Beds default to All pawns rather than Mechanical/Organic</BF_bedRestrictionDefaultsToAll>
    <BF_bedRestrictionDefaultsToAllDesc>By default, charging beds from this mod default to mechanical only, and all other beds default to organic only.</BF_bedRestrictionDefaultsToAllDesc>

        <!-- Consideration Settings -->
    <BF_isUsingCustomConsiderations>Using custom config and will not reset: {0}</BF_isUsingCustomConsiderations>
    <BF_isUsingCustomConsiderationsDesc>If false, ATR will automatically regenerate what is/isn't mechanical at game startup so that it can catch new modded races for you.</BF_isUsingCustomConsiderationsDesc>
    <BF_resetCustomConsiderations>Reset considerations</BF_resetCustomConsiderations>
	<BF_SettingsConsideredAndroid>Androids</BF_SettingsConsideredAndroid>
	<BF_SettingsNotConsideredAndroid>Not Androids</BF_SettingsNotConsideredAndroid>
	<BF_SettingsConsideredDrone>Drones</BF_SettingsConsideredDrone>
	<BF_SettingsNotConsideredDrone>Not Drones</BF_SettingsNotConsideredDrone>
	<BF_SettingsConsideredAnimal>Mechanical Animals</BF_SettingsConsideredAnimal>
	<BF_SettingsNotConsideredAnimals>Organic Animals</BF_SettingsNotConsideredAnimals>

        <!-- Android Faction Settings -->
    <BF_AndroidFactionsNeverFlee>Android factions never flee from battle</BF_AndroidFactionsNeverFlee>

        <!-- Rights Settings -->
    <BF_factionsWillDeclareRightsWars>Factions will declare war over rights disputes</BF_factionsWillDeclareRightsWars>
    <BF_factionsWillDeclareRightsWarsDesc>Factions that are anti-mechanical or anti-organic will declare war on you if you have mechanical/organic colonists</BF_factionsWillDeclareRightsWarsDesc>

    <BF_SettingsAntiMechanicalFaction>Factions without mechanical rights</BF_SettingsAntiMechanicalFaction>
    <BF_SettingsTolerateMechanicalFaction>Factions tolerating mechanicals</BF_SettingsTolerateMechanicalFaction>
    <BF_SettingsAntiOrganicFaction>Factions without organic rights</BF_SettingsAntiOrganicFaction>
    <BF_SettingsTolerateOrganicFaction>Factions tolerating organics</BF_SettingsTolerateOrganicFaction>

    <BF_dronesTriggerRightsWars>Anti-mechanical factions declare war over drones</BF_dronesTriggerRightsWars>
    <BF_prisonersTriggerRightsWars>Factions declare war over prisoners</BF_prisonersTriggerRightsWars>
    <BF_slavesTriggerRightsWars>Factions declare war over slaves</BF_slavesTriggerRightsWars>
    <BF_surrogatesTriggerRightsWars>Factions declare war over surrogates</BF_surrogatesTriggerRightsWars>

	<!-- Needs Settings -->
	<BF_AndroidOnlyNotice>Note: Only units marked as androids are affected by this. Drones have no such needs.</BF_AndroidOnlyNotice>
	<BF_AndroidsNeedJoy>Androids need to fulfill joy needs</BF_AndroidsNeedJoy>
	<BF_AndroidsNeedBeauty>Androids need to fulfill beauty needs</BF_AndroidsNeedBeauty>
	<BF_AndroidsNeedComfort>Androids need to fulfill comfort needs</BF_AndroidsNeedComfort>
	<BF_AndroidsNeedOutdoors>Androids need to fulfill outdoors/indoors needs</BF_AndroidsNeedOutdoors>

	<BF_SettingsPresetDefault>Default</BF_SettingsPresetDefault>
	<BF_SettingsPresetCustom>Custom</BF_SettingsPresetCustom>

	<!-- Power Settings -->
	<BF_wattsConsumedPerBodySize>Power use per 1 body size when charging [default: 500]</BF_wattsConsumedPerBodySize>
	<BF_batteryPercentagePerRareTick>Percentage of battery charged per Rare Tick (~4 seconds) [default: 7%]</BF_batteryPercentagePerRareTick>
	<BF_batteryPercentagePerTick>Battery charge rate [default: 1]</BF_batteryPercentagePerTick>
	<BF_mechanicalsHaveDifferentBioprocessingEfficiency>Mechanical units handle nutrition differently than organics.</BF_mechanicalsHaveDifferentBioprocessingEfficiency>
	<BF_mechanicalBioprocessingEfficiency>Nutrition efficiency [default: 50%]</BF_mechanicalBioprocessingEfficiency>

	<!-- Security Settings -->
        <!-- Hostile Hacking -->
	<BF_EnemyHacksOccur>Hostile hacking is enabled.</BF_EnemyHacksOccur>
	<BF_ChanceAlliesInterceptHack>Chance to intercept hacks against you per allied faction</BF_ChanceAlliesInterceptHack>
	<BF_ChanceAlliesInterceptHackDesc>Percent chance that allied factions will save you from a successful enemy hack, preventing damage and actually giving you security points. This is PER ALLY.</BF_ChanceAlliesInterceptHackDesc>
	<BF_PointsGainedOnInterceptPercentage>Points gained when allies intercept as percentage of attack</BF_PointsGainedOnInterceptPercentage>
	<BF_PointsGainedOnInterceptPercentageDesc>When an ally intercepts an attack against you, they donate security points to you. This controls what percentage of the raid points they give you.</BF_PointsGainedOnInterceptPercentageDesc>
	<BF_EnemyHackAttackStrengthModifier>Enemy hack strength modifier</BF_EnemyHackAttackStrengthModifier>
	<BF_EnemyHackAttackStrengthModifierDesc>Multiplicative modifier on how many hacking points enemy hacking incidents will have. Less than 100% reduces intensity, greater than 100% raises intensity.</BF_EnemyHackAttackStrengthModifierDesc>
	<BF_PercentageOfValueUsedForRansoms>Percentage of item value demanded in ransom attack</BF_PercentageOfValueUsedForRansoms>

        <!-- Player Hacking -->
    <BF_PlayerCanHack>Player hacking is enabled.</BF_PlayerCanHack>
    <BF_receiveFullHackingAlert>Alert for hacking points exceeding 90% of capacity.</BF_receiveFullHackingAlert>
    <BF_RetaliationChanceOnFailure>Chance the target faction will retaliate on a failed hack</BF_RetaliationChanceOnFailure>
    <BF_MinHackSuccessChance>Minimum chance of a successful hack</BF_MinHackSuccessChance>
    <BF_MaxHackSuccessChance>Maximum chance of a successful hack</BF_MaxHackSuccessChance>

    <!-- Health Settings -->
        <!-- Medical -->
    <BF_medicinesAreInterchangeable>Organic/Mechanical medicines are interchangeable.</BF_medicinesAreInterchangeable>
    <BF_showMechanicalSurgerySuccessChance>Display success chance of completed mechanical surgeries.</BF_showMechanicalSurgerySuccessChance>
    <BF_maxChanceMechanicOperationSuccess>Max success change for mechanical surgeries</BF_maxChanceMechanicOperationSuccess>
    <BF_chanceFailedOperationMinor>Chance failed mechanical surgeries are minor [default 75%]</BF_chanceFailedOperationMinor>
    <BF_chancePartSavedOnFailure>Chance that parts are returned from failed mechanical surgeries [default 75%]</BF_chancePartSavedOnFailure>

        <!-- Maintenance -->
    <BF_maintenanceNeedExists>Mechanical units need maintenance.</BF_maintenanceNeedExists>
    <BF_receiveMaintenanceFailureLetters>Receive letters about maintenance-related health issues.</BF_receiveMaintenanceFailureLetters>
    <BF_maintenancePartFailureRateFactor>How long before poor maintenance can result in part failures and the odds that no failure occurs</BF_maintenancePartFailureRateFactor>
    <BF_maintenanceFallRateFactor>How quickly maintenance falls naturally</BF_maintenanceFallRateFactor>
    <BF_maintenanceGainRateFactor>How quickly maintenance is gained when doing maintenance</BF_maintenanceGainRateFactor>

        <!-- Hediffs -->
    <BF_hediffBlacklistWarning>Warning: The longer the list of blacklisted hediffs is, the more performance impact on the game it will have.</BF_hediffBlacklistWarning>
    <BF_settingsBlacklistedMechanicalHediffs>Blacklisted Mechanical Hediffs</BF_settingsBlacklistedMechanicalHediffs>
    <BF_settingsAllowedMechanicalHediffs>Allowed Mechanical Hediffs</BF_settingsAllowedMechanicalHediffs>

	<!-- Connectivity Settings -->
        <!-- Surrogates -->
    <BF_surrogatesAllowed>Surrogates are permitted.</BF_surrogatesAllowed>
    <BF_otherFactionsAllowedSurrogates>Other factions may use surrogates.</BF_otherFactionsAllowedSurrogates>
    <BF_minGroupSizeForSurrogates>Number of members for faction groups to spawn with surrogates</BF_minGroupSizeForSurrogates>
    <BF_minSurrogatePercentagePerLegalGroup>Minimum percentage of surrogates in legal groups [default 20%]</BF_minSurrogatePercentagePerLegalGroup>
    <BF_maxSurrogatePercentagePerLegalGroup>Maximum percentage of surrogates in legal groups [default 70%]</BF_maxSurrogatePercentagePerLegalGroup>
    <BF_displaySurrogateControlIcon>Display floating icon above controlled surrogates.</BF_displaySurrogateControlIcon>
    <BF_safeSurrogateConnectivityCountBeforePenalty>Surrogates per controller before penalties:</BF_safeSurrogateConnectivityCountBeforePenalty>

        <!-- Skills -->
    <BF_receiveFullSkillAlert>Alert for skill points exceeding 90% of capacity.</BF_receiveFullSkillAlert>
	<BF_skillPointInsertionRate>Amount of skill points used per insertion [default: 100]</BF_skillPointInsertionRate>
	<BF_skillPointConversionRate>Amount of base XP generated per skill point [default: 0.5]</BF_skillPointConversionRate>
	<BF_passionSoftCap>Passion soft-cap before cost increases per passion [default: 8]</BF_passionSoftCap>
	<BF_basePointsNeededForPassion>Base skill points needed per passion [default: 5000]</BF_basePointsNeededForPassion>

        <!-- Cloud -->
    <BF_UploadingKills>Uploading to SkyMind turns the initiator's body into a blank.</BF_UploadingKills>
    <BF_UploadingPermakills>Uploading to SkyMind leaves the initiator's body completely useless and dead.</BF_UploadingPermakills>
    <BF_SkyMindOperationTimeRequired>Hours required to complete SkyMind operations [default: 24]</BF_SkyMindOperationTimeRequired>

    <!-- Stats Settings -->
        <!-- Traits -->
    <BF_traitBlacklistWarning>Warning: The longer the list of blacklisted traits is, the more performance impact on the game it will have.</BF_traitBlacklistWarning>
    <BF_settingsBlacklistedMechanicalTraits>Blacklisted Mechanical Traits</BF_settingsBlacklistedMechanicalTraits>
    <BF_settingsAllowedMechanicalTraits>Allowed Mechanical Traits</BF_settingsAllowedMechanicalTraits>

</LanguageData>